<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - DocTalk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background: url('/static/pic2.gif') no-repeat center/cover;">

    <section class="hero-operate">
        <h2>LOGIN</h2>
        <p>Welcome to DocTalk</p>
        <a class="start-btn" href="{{ url_for('register') }}">Get Started</a>
    </section>

</body>
</html>
